.header {
	z-index: 9;
	position: sticky;
	top: 0;
	padding: 18px 0;
	background-color: var(--background-color);
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.nav-list {
	display: flex;
	gap: 40px;
}

.nav-link {
	position: relative;
	font-size: 20px;
	font-weight: 500;
	color: #292F36;
	transition: all 100ms ease-in;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--accent);
}

.nav-link:active {
	top: 2px;
}

/* Burger menu */
.nav__icon {
	display: none;
}

/* Nav Icon */
.mobile-nav-btn {
	--time: 0.1s;

	--width: 34px;
	--height: 24px;

	--line-height: 2px;
	--spacing: 10px;

	--color: #292F36;
	--radius: 4px;

	height: calc(var(--line-height) * 3 + var(--spacing) * 2);
	width: var(--width);

	display: flex;
}

.nav-icon {
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
	border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: var(--width);
	height: var(--line-height);

	border-radius: var(--radius);
	background-color: var(--color);
	transition: transform var(--time) ease-in,
		top var(--time) linear var(--time);
}

.nav-icon::before {
	top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
	top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
	background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
	top: 0;
	transition: top var(--time) linear,
		transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
	transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
	transform: rotate(-45deg);
}

.mobile-nav-btn {
	position: relative;
	z-index: 999;
}

/* Mobile Nav */
.mobile-nav {
	position: fixed;
	top: -100%;
	width: 100%;
	height: 100vh;
	z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 40px;
	background: #cda274;
	transition: all 0.2s ease-in;
}

.mobile-nav--open {
	top: 0;
}

.mobile-nav-link {
	position: relative;
	color: black;
	transition: all 100ms ease-in;
}

.mobile-nav-link:hover {
	color: #FFFFFF;
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	font-size: 28px;
}